@inherits LayoutComponentBase

<PageTitle>SyncGanttDemo</PageTitle>

<div class="page">
    <SideBar SidebarToggle="@SidebarToggle" />
    <main>
        <SfAppBar ColorMode="AppBarColor.Primary">
            <SfButton CssClass="e-inherit" IconCss="e-icons e-menu" OnClick="@Toggle"></SfButton>
            <AppBarSpacer></AppBarSpacer>
        </SfAppBar>
        <article class="content px-2">
            @Body
        </article>
    </main>
</div>


@code {
    public bool SidebarToggle { get; set; } = false;

    public void Toggle()
    {
        SidebarToggle = !SidebarToggle;
    }
}